<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stinns</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="stylesheets/stylish-portfolio.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>



    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-danger btn-lg toggle"><i class="fa fa-bars">Click here Dummy</i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="http://metacupcake.com">Stinns</a>
            </li>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/terms">Contact</a>
            </li>
            <li><a href="#portfolio">Services</a>
            </li>
            <li><a href="#coming-soon">Customers</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <br>
            <h1></h1>
            <h3>
                <em></em>
                <em></em></h3>
            
        </div>
    </div>
    <!-- /Full Page Image Header Area -->
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>We Specialize in European Vehicles</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                            <img src="images/audi.jpg" alt="Audi">
                                <h4>
                                    <strong>Audi</strong>
                                </h4>
                                <p>Flush before you brush.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <img src="images/bmw.jpg" alt="">
                                <h4>
                                    <strong>BMW</strong>
                                </h4>
                                <p>We fix yo shit for cheap $$</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                            <img src="images/mercedes.jpg" alt="">
                                <h4>
                                    <strong>Mercedes-Benz</strong>
                                </h4>
                                <p></p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <img src ="images/porsche.jpg" alt="">
                                <h4>
                                    <strong>Porsche</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <img src ="images/volvo.jpg" alt="">
                                <h4>
                                    <strong>Volvo</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div> 
                        <div class="col-md-2 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <img src ="images/porsche.jpg" alt="">
                                <h4>
                                    <strong>VW</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>                                               
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1></h1>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3270.438606262144!2d-120.43204600000001!3d34.945614!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ec6c83c791c6f9%3A0xa6831f4fab5dc19!2sStinn&#39;s+AutoHaus!5e0!3m2!1sen!2sus!4v1409403742699"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>

      <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Stinns</strong>
                    </h4>
                    <p>3481 Melrose Place<br>Santa Maria, CA 90210</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

<!--   

    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="http://www.youtube.com/channel/UCpuxvY_WEGAPEvB771-MsfA/videos"><img src="images/youtube.png"></a>
                    <a href="https://www.facebook.com/michael.william.betts"><img src="images/facebook-128.png"></a>
                    <a href="https://soundcloud.com/metacupcake"><img src="images/soundcloud-128.png"></a>
                    <a href="https://twitter.com/Michaelflops"><img src="images/twitter-3-128.png"></a>
                    <a href="mailto:mwbetts@ucsc.edu"><img src="images/brain-128.png"></a>
                    <a href="mailto:mwbetts@ucsc.edu"><img src="images/woman-128.png"></a>

                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>(no)Copyright &copy; Metacupcake 2013</p>
                </div>
            </div>
        </div>
    </footer>
     -->

    <!-- JavaScript -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
